.nav_main{
    list-style: none;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav_main__item{
    display: inline;
    padding: 5px;
    background-color:blue;
    border-radius: 5px;
}

.nav_main__item a{
    color: azure;
    text-decoration: none;
}

.nav_main__item a:hover{
    color: aquamarine;
}


.main_post {
   background-color: gray;

}

.main_post__item{
    background-color: antiquewhite;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;

}

footer{
    margin-top: 5px;
    background-color: gray;
}